body {
    background:url("https://i.imgur.com/OBDMjsX.png") no-repeat center center fixed;
    font-family: 'ProximaRegular', sans-serif;
}
.app-container {
    display:flex;
    flex-direction:column;
}
.landing-img {
    width:1600px;
    max-width:100%;
}
.landing-title-container {
    /* width:500px; */
    display:flex;
    max-width:100%;
    align-items:center;
}
.landing-title {
    font-size:6em;
    color:#01a1dd;
    display:block;
    overflow-wrap: normal;
    width: 100%;
    padding:0px;
    margin:0px;
    padding-left:10px;
}
.landing-title-at {
    letter-spacing:0px;
}
/* App list */
.app-list-item {
    text-align:center;
    color:#01a1dd;
    background:rgba(255, 255, 255, 0.7);
    border:1px solid white;
    padding:10px;
    border-radius:5px;
}
.app-list-item i {
    font-size:3em;
}
.modal-title {
    
}